<!--header -->
	<div id="header">			
		<h1 id="logo-text"><%= link_to "Stuart's Kitchen", root_path %></h1>		
		<p id="intro">
		An admin page for Stuart's Kitchen (powered by Appetites), where CRUD functions can be invoked for Users, Groups, and Notifications. 
		</p>		
<!--		
		<div id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="index.html">Link-2</a></li>
				<li><a href="index.html">Link-3</a></li>
				<li><a href="index.html">Link-4</a></li>		
			</ul>		
		</div>	
-->					
	</div>